body {
  background: #f7f7f7;
  font-family: Montserrat, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  min-width: 320px;
  width: auto;
}

.container {
  background-color: #232323;
  width: auto;
  margin: 0 auto;
}

.col-md-6 {
  background-color: #2b2b2b;
  padding: 9px 10px;

}

.col-md-6>a {
  text-decoration: none;
  font-size: 14px;
  color: #7f7f7f;
}

.col-md-offset-6 {
  background-color: #2b2b2b;
  text-align: right;
  padding: 9px 10px;
  color: #3b3b3b;
  font-size: 12px;
}

.col-md-offset-6>a {
  text-decoration: none;
  font-size: 14px;
  color: #7f7f7f;
}

.col-md-3 {
  padding: 30px 10px;
}

.col-md-offset-3 {
  padding: 30px 10px;
  background-color: #232323;
}

.header-search {
  float: right;
}

.header-search input {
  float: left;
  width: 230px;
  height: 44px;
  font-family: Montserrat, Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: none;
  border: none;
  padding-left: 24px;
  color: #ffffff;
  border: 1px solid #323232;
}

.header-search button {
  background: url("image/icon-search.png") center center no-repeat;
  border: none;
  font-size: 0;
  width: 44px;
  height: 44px;
  float: right;
  border: 1px solid #323232;
}


.col-md-1 {
  font-size: 16px;
  list-style: none;
  margin:30px 25px;
  white-space: nowrap;
  text-align: left;
  padding-left: 0;
}

.col-md-1:first-child {
  margin-left: 10px;
}

.header-nav a {
  text-decoration: none;
  color: #ffffff;
}
.header-nav a.active,
.header-nav a:hover {
  color: #be926f;
}
.header-nav a:hover {
  text-decoration: none;
}

.form-control {
  text-decoration: none;
  height: 44px;
  width: 230px;
  float: right;
}

button {
  background: url("image/icon-search.png") center center no-repeat;
  border: none;
  font-size: 0;
  width: 44px;
  height: 44px;
}

.header-cart {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAWCAYAAAAmaHdCAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMDE0IDc5LjE1Njc5NywgMjAxNC8wOC8yMC0wOTo1MzowMiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTQgKFdpbmRvd3MpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOkU0M0Q1MkFBOEJFNDExRTZBRjY4ODZCODcwMkI0NkZGIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOkU0M0Q1MkFCOEJFNDExRTZBRjY4ODZCODcwMkI0NkZGIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6RTQzRDUyQTg4QkU0MTFFNkFGNjg4NkI4NzAyQjQ2RkYiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6RTQzRDUyQTk4QkU0MTFFNkFGNjg4NkI4NzAyQjQ2RkYiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz6ii0ulAAAAU0lEQVR42mL8//8/AxrAEMACGJE5TAxUACzE2obPlVRxCdW8gysg8QXwf5oGLCMZ+v/jcsl/Al78T7OAJSZ94JUbPOlk1JBhbwgLiWUr7VwCEGAAkbAOLZkpNl4AAAAASUVORK5CYII=);
  width: 17px;
  height: 22px;
  float: right;
  margin: 30px 12px 0 0;
  position: relative;
  font-size: 12px;
}

.header-cart .count {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #be926f;
  border-radius: 50%;
  line-height: 18px;
  text-align: center;
  top: -6px;
  right: -8px;
}

.header-cart a {
  color: #232323;
  text-decoration: none;
}

.container-fluid {
  background-color: #e7e7e7;
  margin: 30px 0;
}

.col-md-2 {
  font-size: 30px;
  color: #232323;
  padding: 55px 10px;
}

.col-md-offset-2 {
  font-size: 14px;
  text-align: right;
  padding: 55px 10px;

}

.col-md-offset-2 a {
  text-decoration: none;
  color: #999999;
}


.col-md-offset-2 a:hover {
  color: #666666;
}

@media (max-width: 991px) {
  .col-md-6 {
    float: none;
    margin: 0 auto;
    text-align: center;
    padding: 4px 0;
  }

  .col-md-offset-6 {
    float: none;
    margin: 0 auto;
    text-align: center;
    padding: 4px 0;
  }

  .col-md-3 {
    text-align: center;
    padding: 15px 0;
  }

  .col-md-offset-3 {
    text-align: center;
    padding: 15px 0;
  }

  .header-search {
    float: none;
    width: 230px;
    margin: 0 auto;
  }

  .header-search input {
    width: calc(100% - 44px);
  }

  .col-md-1:first-child {
    margin-left: 25px;
  }

  .col-md-1 {
    margin: 10px 25px;
  }
}


@media (max-width: 994px) {
  .col-md-2 {
    float: none;
    text-align: center;
    padding-bottom: 0;
  }

  .col-md-offset-2 {
    float: none;
    margin: 0 0;
    text-align: center;
    }
  .header-cart {
    margin-bottom: 25px;
  }
}
  @media (max-width: 480px) {
    .col-md-2 {
      content: '';
    }

    .mainhome {
      float: none;
      margin: 20px 0;
      display: block;
      text-align: center;
    }
  }

